<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>
<select [(ngModel)]="chosenIndex">
  <option *ngFor="let ix of indices" [ngValue]="ix">{{ix.indexName}}</option>
</select>
<div *ngFor="let prop of chosenIndex.indexedProperties">
    {{prop}}
    <input [(ngModel)]="props[prop]">
</div>
<button (click)="getDogs(chosenIndex,props)">C'm'ere Boy</button>
<pre *ngIf="foundDogs">{{foundDogs | json}}</pre>
<pre *ngIf="foundDog">{{foundDog | json}}</pre>